<component name="ArtifactManager">
  <artifact type="war" name="springmvc_basic:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc-basic.war">
      <element id="artifact" artifact-name="springmvc_basic:war exploded" />
    </root>
  </artifact>
</component>